html,
/* body {
  background: linear-gradient(to bottom right, #441b59, #374969, #72b087, #a96666);
} */
body {
  background: #b06ad2;
  font-family: 'Ubuntu', sans-serif;
  /* background: linear-gradient(to bottom right, #b06ad2, #7ec73e, #72b087, #d37676); */
  /* set the background of the body to a solid color */
}






::-webkit-scrollbar {
  width: 12px;
  /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #5b5151;
  /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #351919;
  /* Color of the scroll thumb */
  border-radius: 5px;
  /* Rounded corners of the thumb */
  border: 2px solid #c1b9c5;
  /* Border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bfb0b0;
  /* Color of the thumb on hover */
}