

.profilePic {
  display: block;
  margin: 0 auto 2rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.story{
  font-size:3rem;

}

.main {
  /* max-width: 200px; */
  margin: 0 auto;
  /* padding: 50px; */
}

.h1 {
  margin-top: 0px;
  font-size: 3rem;
font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: 900;

  /* or any other value you prefer */
}

.p {

  text-indent: 4em;
text-align: center;
  font-size: 1.6rem;
  background-color: rgb(13, 13, 13);
  color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
}